# 유저 기반 영화추천 (라이브러리 사용)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy.sparse import csr_matrix
import helper

# 데이터 받아오기

In [3]:
# Import the Movies dataset
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
# Import the ratings dataset
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

# movie-level Clustering

In [71]:
# Merge the two tables then pivot so we have Users X Movies dataframe
ratings_title = pd.merge(ratings, movies[['movieId', 'title']], on='movieId' )
user_movie_ratings = pd.pivot_table(ratings_title, index='userId', columns= 'title', values='rating')

# print('dataset dimensions: ', user_movie_ratings.shape, '\n\nSubset example:')
user_movie_ratings.iloc[:6, :10]

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009)
userId,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN

In [72]:
user_movie_ratings

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
671,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
n_movies = 30
n_users = 18
most_rated_movies_users_selection = helper.sort_by_rating_density(user_movie_ratings, n_movies, n_users)

# print('dataset dimensions: ', most_rated_movies_users_selection.shape)
most_rated_movies_users_selection

title,Forrest Gump (1994),Pulp Fiction (1994),"Shawshank Redemption, The (1994)","Silence of the Lambs, The (1991)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),"Matrix, The (1999)",Toy Story (1995),Schindler's List (1993),Terminator 2: Judgment Day (1991),...,Dances with Wolves (1990),Fight Club (1999),"Usual Suspects, The (1995)",Seven (a.k.a. Se7en) (1995),"Lion King, The (1994)","Godfather, The (1972)","Lord of the Rings: The Fellowship of the Ring, The (2001)",Apollo 13 (1995),True Lies (1994),Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
29,5.0,5.0,5.0,4.0,4.0,4.0,3.0,4.0,5.0,4.0,...,5.0,4.0,5.0,4.0,3.0,5.0,3.0,5.0,4.0,2.0
508,4.0,5.0,4.0,4.0,5.0,3.0,4.5,3.0,5.0,2.0,...,5.0,4.0,5.0,4.0,3.5,5.0,4.5,3.0,2.0,4.0
14,1.0,5.0,2.0,5.0,5.0,3.0,5.0,2.0,4.0,4.0,...,3.0,5.0,5.0,5.0,4.0,5.0,5.0,3.0,4.0,4.0
72,5.0,5.0,5.0,4.5,4.5,4.0,4.5,5.0,5.0,3.0,...,4.5,5.0,5.0,5.0,5.0,5.0,5.0,3.5,3.0,5.0
653,4.0,5.0,5.0,4.5,5.0,4.5,5.0,5.0,5.0,5.0,...,4.5,5.0,5.0,4.5,5.0,4.5,5.0,5.0,4.0,5.0
22,4.5,4.5,5.0,4.5,4.5,3.5,4.0,3.0,3.5,3.5,...,2.5,3.5,4.0,4.5,NaN,5.0,4.0,3.5,4.0,4.0
460,4.0,4.5,5.0,5.0,4.5,5.0,4.5,3.5,4.0,5.0,...,4.0,5.0,4.0,5.0,1.5,5.0,4.5,3.0,2.5,NaN
267,5.0,5.0,3.5,5.0,5.0,4.5,4.5,5.0,5.0,5.0,...,NaN,4.5,3.5,4.0,5.0,4.5,5.0,4.5,4.0,3.0
561,4.0,5.0,5.0,5.0,5.0,5.0,5.0,4.5,4.0,5.0,...,4.0,4.5,5.0,4.5,4.5,4.0,5.0,4.5,4.0,4.0
354,5.0,4.5,5.0,4.5,5.0,3.5,5.0,3.0,4.0,4.0,...,4.0,5.0,3.5,5.0,4.0,5.0,4.5,3.0,3.5,4.0
429,4.5,4.5,5.0,4.0,3.5,4.0,4.0,4.0,NaN,4.5,...,4.0,5.0,5.0,5.0,5.0,4.5,3.5,4.0,5.0,5.0
441,5.0,4.5,4.5,5.0,5.0,4.5,4.5,4.0,4.5,4.0,...,4.0,4.5,NaN,4.5,4.5,4.5,4.5,4.0,4.0,NaN
563,3.0,5.0,NaN,5.0,2.0,5.0,3.0,4.0,4.0,5.0,...,2.0,5.0,5.0,4.0,4.0,2.0,NaN,3.0,5.0,4.0
595,5.0,5.0,5.0,4.0,3.0,4.0,4.5,3.5,4.5,4.0,...,4.0,5.0,4.5,4.0,3.0,5.0,3.0,3.5,3.0,5.0
291,5.0,5.0,5.0,4.5,4.5,3.5,4.0,4.0,5.0,4.0,...,3.0,5.0,5.0,4.5,4.0,4.5,4.0,4.0,4.5,4.5
294,4.5,4.0,4.5,4.5,5.0,4.5,5.0,NaN,4.5,5.0,...,4.0,4.0,4.5,4.5,4.0,5.0,5.0,4.5,4.0,NaN
606,5.0,5.0,5.0,4.0,4.5,3.0,4.5,4.5,NaN,3.5,...,2.5,4.5,4.5,4.0,3.0,4.5,4.5,4.0,4.5,3.5
579,3.5,4.5,4.0,4.0,4.0,3.0,4.5,4.0,4.0,4.5,...,4.0,5.0,4.0,4.0,3.5,5.0,4.5,NaN,2.5,4.5

In [77]:
user_movie_ratings =  pd.pivot_table(ratings_title, index='userId', columns= 'title', values='rating')
most_rated_movies_1k = helper.get_most_rated_movies(user_movie_ratings, 1000)
most_rated_movies_1k

title,Forrest Gump (1994),Pulp Fiction (1994),"Shawshank Redemption, The (1994)","Silence of the Lambs, The (1991)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),"Matrix, The (1999)",Toy Story (1995),Schindler's List (1993),Terminator 2: Judgment Day (1991),...,Insomnia (2002),What Lies Beneath (2000),Roman Holiday (1953),"Motorcycle Diaries, The (Diarios de motocicleta) (2004)",Sophie's Choice (1982),Dawn of the Dead (2004),Ocean's Thirteen (2007),Seabiscuit (2003),Easy Rider (1969),Lucky Number Slevin (2006)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,4.0,NaN,3.0,NaN,4.0,NaN,NaN,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,4.5,5.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,5.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,4.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,NaN,5.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,5.0,5.0,NaN,NaN,4.0,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,5.0,4.0,5.0,NaN,5.0,NaN,4.5,5.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN

In [92]:
test = most_rated_movies_1k.T

In [94]:
test.keys()[idx] = 3

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            661, 662, 663, 664, 665, 666, 667, 668, 669, 670],
           dtype='int64', length=671)

# cluster

In [80]:
from sklearn.cluster import KMeans 
sparse_ratings = csr_matrix(pd.SparseDataFrame(most_rated_movies_1k).to_coo())

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: SparseDataFrame is deprecated and will be removed in a future version.
Use a regular DataFrame whose columns are SparseArrays instead.

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.


c:\program files\python36\lib\site-packages\pandas\core\frame.py:3456: FutureWarning: SparseSeries is deprecated and will be removed in a future version.
Use a Series with sparse values instead.

    >>> series = pd.Series(pd.SparseArray(...))

See http://pandas.pydata.org/pandas-docs/stable/user_guide/sparse.html#migrating for more.

  return klass(values, index=self.index, name=items, fastpath=True)

In [86]:
# 20 clusters
predictions_l = KMeans(n_clusters=10, algorithm='full').fit_predict(sparse_ratings)

In [87]:
predictions_l

array([0, 7, 0, 9, 5, 0, 7, 5, 0, 0, 0, 0, 0, 0, 1, 0, 8, 0, 9, 0, 9, 8,
       1, 0, 0, 5, 0, 0, 0, 1, 5, 7, 0, 9, 0, 7, 0, 5, 7, 0, 0, 5, 0, 0,
       0, 0, 7, 4, 0, 7, 0, 0, 0, 0, 0, 8, 9, 0, 5, 0, 5, 0, 5, 7, 0, 0,
       7, 5, 5, 0, 0, 5, 6, 0, 5, 0, 8, 8, 0, 0, 0, 7, 5, 5, 7, 7, 0, 8,
       5, 0, 5, 7, 8, 5, 8, 0, 5, 0, 9, 0, 5, 1, 0, 5, 8, 0, 0, 7, 0, 7,
       8, 0, 0, 7, 0, 0, 0, 9, 3, 5, 7, 0, 0, 5, 8, 7, 0, 5, 0, 8, 0, 0,
       0, 8, 0, 5, 0, 5, 0, 0, 0, 0, 0, 7, 7, 5, 0, 5, 5, 8, 7, 4, 0, 0,
       0, 0, 4, 0, 5, 0, 7, 0, 5, 5, 8, 0, 0, 7, 5, 0, 0, 0, 0, 0, 5, 5,
       7, 5, 0, 0, 0, 7, 0, 7, 8, 0, 8, 7, 0, 0, 7, 7, 0, 7, 9, 0, 0, 0,
       4, 5, 5, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 6, 8, 9, 0, 5, 5, 0, 5, 8,
       0, 0, 0, 7, 7, 0, 0, 5, 0, 5, 0, 3, 0, 5, 5, 9, 0, 0, 0, 8, 7, 3,
       8, 5, 5, 0, 8, 0, 0, 5, 5, 0, 8, 7, 5, 0, 0, 0, 0, 0, 0, 5, 0, 0,
       9, 7, 0, 8, 0, 5, 5, 0, 5, 0, 5, 0, 0, 0, 7, 0, 0, 5, 5, 0, 8, 0,
       5, 7, 0, 0, 0, 8, 0, 2, 8, 0, 5, 0, 0, 0, 0, 7, 8, 0, 0, 3, 5, 0,
       5, 0, 3, 9, 8, 0, 0, 5, 7, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 5, 0, 0,
       0, 0, 5, 0, 0, 0, 0, 7, 5, 0, 0, 9, 0, 7, 8, 8, 0, 0, 0, 5, 0, 5,
       8, 7, 8, 0, 0, 3, 0, 0, 0, 5, 9, 0, 0, 0, 5, 0, 7, 5, 5, 0, 9, 0,
       7, 0, 0, 5, 5, 4, 0, 5, 0, 4, 7, 0, 9, 1, 7, 7, 0, 0, 0, 5, 0, 7,
       0, 0, 0, 7, 0, 5, 0, 0, 8, 0, 5, 9, 7, 0, 0, 5, 0, 0, 7, 7, 5, 5,
       0, 9, 7, 0, 8, 0, 5, 5, 5, 5, 0, 8, 8, 5, 8, 9, 0, 0, 0, 0, 5, 7,
       5, 8, 0, 0, 0, 0, 7, 0, 7, 5, 0, 1, 0, 0, 0, 5, 8, 5, 0, 8, 6, 0,
       8, 0, 0, 9, 0, 6, 0, 0, 5, 1, 5, 0, 4, 0, 0, 5, 5, 4, 4, 0, 5, 0,
       0, 5, 7, 0, 0, 0, 0, 0, 0, 5, 7, 7, 0, 0, 0, 5, 5, 0, 0, 0, 9, 0,
       0, 7, 1, 0, 0, 0, 7, 9, 0, 7, 7, 3, 5, 5, 0, 5, 5, 0, 5, 0, 5, 5,
       9, 0, 5, 0, 0, 7, 7, 7, 9, 0, 0, 0, 0, 5, 0, 4, 0, 0, 1, 7, 0, 5,
       0, 0, 5, 0, 7, 7, 0, 0, 9, 5, 8, 8, 5, 3, 0, 0, 0, 7, 0, 5, 0, 5,
       0, 8, 9, 0, 8, 0, 0, 6, 0, 5, 0, 5, 9, 5, 9, 7, 7, 7, 0, 5, 7, 0,
       9, 8, 9, 8, 5, 0, 0, 7, 7, 0, 9, 0, 2, 9, 0, 0, 0, 0, 0, 0, 4, 0,
       0, 0, 7, 5, 0, 5, 5, 6, 0, 0, 5, 0, 7, 0, 0, 0, 7, 0, 0, 0, 0, 0,
       7, 0, 7, 0, 0, 0, 0, 0, 9, 5, 7, 0, 0, 0, 0, 2, 5, 0, 0, 0, 7, 5,
       0, 7, 0, 4, 8, 7, 7, 0, 0, 0, 5])

In [88]:
print(len(predictions_l))

671

In [97]:
cluster_list = {}
for idx in range(len(predictions_l)):
    user_id = []
#     predictions_l[idx]  == 클러스터 번호 , 그게 딕셔너리 키값에 아예  없으면
    if predictions_l[idx] not in cluster_list.keys():
        user_id.append(test.keys()[idx])  #  해당 클러스터 번호를 가진 유저의 인덱스 값을 일단 빈 리스트에 넣어주고
        cluster_list[predictions_l[idx]] = user_id


    else:
        cluster_list[predictions_l[idx]].append(test.keys()[idx])

print(cluster_list)

{0: [0, 2, 5, 8, 9, 10, 11, 12, 13, 15, 17, 19, 23, 24, 26, 27, 28, 32, 34, 36, 39, 40, 42, 43, 44, 45, 48, 50, 51, 52, 53, 54, 57, 59, 61, 64, 65, 69, 70, 73, 75, 78, 79, 80, 86, 89, 95, 97, 99, 102, 105, 106, 108, 111, 112, 114, 115, 116, 121, 122, 126, 128, 130, 131, 132, 134, 136, 138, 139, 140, 141, 142, 146, 152, 153, 154, 155, 157, 159, 161, 165, 166, 169, 170, 171, 172, 173, 178, 179, 180, 182, 185, 188, 189, 192, 195, 196, 197, 201, 202, 203, 205, 206, 207, 208, 209, 210, 214, 217, 220, 221, 222, 225, 226, 228, 230, 232, 236, 237, 238, 245, 247, 248, 251, 255, 256, 257, 258, 259, 260, 262, 263, 266, 268, 271, 273, 275, 276, 277, 279, 280, 283, 285, 288, 289, 290, 292, 295, 297, 298, 299, 300, 303, 304, 307, 309, 313, 314, 317, 318, 319, 320, 321, 322, 324, 325, 326, 328, 329, 330, 331, 333, 334, 335, 336, 339, 340, 342, 346, 347, 348, 350, 355, 356, 358, 359, 360, 363, 364, 365, 367, 371, 373, 375, 376, 380, 382, 385, 390, 391, 392, 394, 396, 397, 398, 400, 402, 403, 405, 409, 410, 412, 413, 418, 421, 423, 428, 434, 435, 436, 437, 442, 443, 444, 445, 447, 450, 452, 453, 454, 458, 461, 463, 464, 466, 468, 469, 473, 475, 476, 481, 483, 484, 487, 488, 489, 490, 491, 492, 496, 497, 498, 501, 502, 503, 505, 506, 509, 510, 511, 514, 520, 523, 525, 529, 531, 532, 537, 538, 539, 540, 542, 544, 545, 548, 550, 551, 553, 556, 557, 564, 565, 566, 568, 570, 572, 575, 577, 578, 580, 582, 590, 593, 599, 600, 603, 605, 608, 609, 610, 611, 612, 613, 615, 616, 617, 620, 624, 625, 627, 629, 630, 631, 633, 634, 635, 636, 637, 639, 641, 642, 643, 644, 645, 649, 650, 651, 652, 655, 656, 657, 660, 662, 667, 668, 669], 7: [1, 6, 31, 35, 38, 46, 49, 63, 66, 81, 84, 85, 91, 107, 109, 113, 120, 125, 143, 144, 150, 160, 167, 176, 181, 183, 187, 190, 191, 193, 223, 224, 240, 253, 265, 278, 287, 301, 316, 337, 343, 353, 368, 374, 384, 388, 389, 395, 399, 408, 414, 415, 420, 439, 446, 448, 486, 494, 495, 507, 512, 515, 516, 533, 534, 535, 547, 554, 555, 567, 587, 588, 589, 592, 601, 602, 618, 628, 632, 638, 640, 648, 658, 661, 665, 666], 9: [3, 18, 20, 33, 56, 98, 117, 194, 213, 235, 264, 311, 341, 362, 372, 386, 407, 419, 433, 465, 504, 513, 528, 536, 558, 574, 584, 586, 594, 596, 604, 607, 646], 5: [4, 7, 25, 30, 37, 41, 58, 60, 62, 67, 68, 71, 74, 82, 83, 88, 90, 93, 96, 100, 103, 119, 123, 127, 135, 137, 145, 147, 148, 158, 162, 163, 168, 174, 175, 177, 199, 200, 204, 215, 216, 218, 227, 229, 233, 234, 243, 244, 249, 250, 254, 261, 269, 270, 272, 274, 281, 282, 286, 296, 306, 308, 315, 323, 327, 332, 338, 349, 351, 361, 366, 369, 370, 377, 378, 381, 393, 401, 406, 411, 416, 417, 424, 425, 426, 427, 431, 438, 440, 449, 455, 457, 470, 472, 477, 478, 482, 485, 493, 499, 500, 518, 519, 521, 522, 524, 526, 527, 530, 541, 549, 552, 559, 562, 569, 571, 581, 583, 585, 591, 598, 619, 621, 622, 626, 647, 654, 659, 670], 1: [14, 22, 29, 101, 387, 451, 471, 508, 546], 8: [16, 21, 55, 76, 77, 87, 92, 94, 104, 110, 124, 129, 133, 149, 164, 184, 186, 212, 219, 239, 242, 246, 252, 267, 284, 291, 294, 302, 312, 344, 345, 352, 354, 404, 422, 429, 430, 432, 441, 456, 459, 462, 560, 561, 573, 576, 595, 597, 664], 4: [47, 151, 156, 198, 379, 383, 474, 479, 480, 543, 614, 663], 6: [72, 211, 460, 467, 579, 623], 3: [118, 231, 241, 305, 310, 357, 517, 563], 2: [293, 606, 653]}

In [90]:
most_rated_movies_1k

title,Forrest Gump (1994),Pulp Fiction (1994),"Shawshank Redemption, The (1994)","Silence of the Lambs, The (1991)",Star Wars: Episode IV - A New Hope (1977),Jurassic Park (1993),"Matrix, The (1999)",Toy Story (1995),Schindler's List (1993),Terminator 2: Judgment Day (1991),...,Insomnia (2002),What Lies Beneath (2000),Roman Holiday (1953),"Motorcycle Diaries, The (Diarios de motocicleta) (2004)",Sophie's Choice (1982),Dawn of the Dead (2004),Ocean's Thirteen (2007),Seabiscuit (2003),Easy Rider (1969),Lucky Number Slevin (2006)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3.0,4.0,NaN,3.0,NaN,4.0,NaN,NaN,4.0,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,4.5,5.0,3.0,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5.0,5.0,NaN,NaN,5.0,5.0,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
666,4.0,5.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,NaN,5.0,4.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
668,NaN,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
669,NaN,NaN,5.0,5.0,NaN,NaN,4.0,4.0,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
670,5.0,4.0,5.0,NaN,5.0,NaN,4.5,5.0,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,NaN

# 실습

## (1) user id 받아오기

In [10]:
user_id = 99

## (2) 비슷한 user id 가져오기

In [11]:
clustered_user[user_id]

[17,
 24,
 43,
 54,
 69,
 79,
 86,
 89,
 111,
 153,
 161,
 172,
 210,
 222,
 232,
 251,
 255,
 283,
 317,
 328,
 342,
 360,
 382,
 389,
 412,
 458,
 483,
 489,
 506,
 529,
 542,
 615,
 635,
 639,
 649]

## 끝!!